## Loconotion Site Configuration File ##
# full .toml configuration example file to showcase all of Loconotion's available settings
# check out https://github.com/toml-lang/toml for more info on the toml format

# name of the folder that the site will be generated in
name = "Vimarsh"

# the notion.so page to being parsing from. This page will become the index.html
# of the generated site, and loconotation will parse all sub-pages present on the page
page = "https://www.notion.so/Vimarsh-Shah-31a963978d6e40eaa25eea18ac715224"

## Global Site Settings ##
# this [site] table defines override settings for the whole site
# later on we will see how to define settings for a single page
[site]
  ## Custom Meta Tags ##
  # defined as an array of tables (double square brackets)
  # each key in the table maps to an atttribute in the tag
  # the following adds the tag <meta name="title" content="Loconotion Test Site"/>
  [[site.meta]]
  name = "title"
  content = "Vimarsh Shah"
  [[site.meta]]
  name = "description"
  content = "A 16 Y/o Maker and Learner."
  [[site.meta]]
  name="og:image"
  content = "https://personl-website-from-notion.vimarsh.vercel.app/8708216cca9861294e802601565cf720f258f57b.png"

  ## Custom Fonts ##
  # you can specify the name of a google font to use on the site - use the font embed name
  # if in doubt select a style on fonts.google.com and navigate to the "embed" tag to 
  # check the name under CSS rules
  # the following table keys controls the font of specific elements:
  #   site: changes the font for the whole page (apart from code blocks) 
  #         but the settings below override it
  #   navbar: site breadcrumbs on the top-left of the page
  #   title: page title (under the icon)
  #   h1: heading blocks, and inline databases' titles
  #   h2: sub-heading blocks
  #   h3: sub-sub-heading blocks
  #   body: non-heading text on the page
  #   code: text inside code blocks

  [site.fonts]
  title = 'Oswald'
  
  ## Custom Element Injection ##
  # defined as an array of tables [[site.inject]], followed by 'head' or 'body' to set 
  # the injection point, followed by name of the tag to inject
  # each key in the table maps to an atttribute in the tag
  # e.g. the following injects this tag in the <head>:
  #   <link href="favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/> 
  [[site.inject.head.link]]
  rel="icon" 
  #sizes="16x16"
  type="image/png"
  href="./example/favicon.png"
  
  # the following injects this tag in the in the <body>:
  #   <script src="custom-script.js" type="text/javascript"></script>
  # note that all href / src files are copied to the root of the site folder 
  # regardless of their original path
  #[[site.inject.body.script]]
  type="text/javascript"
  src="/example/custom-script.js"
## Individual Page Settings ##
# the [pages] table defines override settings for individual pages, by defining 
# a sub-table named after the page url (or part of the url, but careful about
# not using a string that appears in multiple page urls)
[pages]
  # the following settings will only apply to this page: https://www.notion.so/Projects-0b0f2f8c92ae468fa60b2a1a15269b89
  #   https://www.notion.so/d2fa06f244e64f66880bb0491f58223d
  #[pages.0b0f2f8c92ae468fa60b2a1a15269b89]
    ## custom slugs ##
    # inside page settings, you can change the url for that page with the 'slug' key
    # e.g. page "/d2fa06f244e64f66880bb0491f58223d" will now map to "/games-list"
    #slug = "projects"

    # change the description meta tag for this page only
    [[pages.0b0f2f8c92ae468fa60b2a1a15269b89.meta]] 
    name = "title"
    content = "Projects - Vimarsh Shah"
    [[pages.0b0f2f8c92ae468fa60b2a1a15269b89.meta]] 
    name = "description"
    content = "A few projects I have made."    
    [[pages.0b0f2f8c92ae468fa60b2a1a15269b89.meta]]
    name="og:image"
    content = "https://personl-website-from-notion.vimarsh.vercel.app/6af4137ddfdfa82d6a8d57ffb8624d5562bc19b8.png"
    
    
    [[pages.2c375590f668416caa545bc140f6ebf3.meta]]    
    name = "title"
    content = "Fastest Way to install Wordpress  | Vimarsh's Blog"
    [[pages.2c375590f668416caa545bc140f6ebf3.meta]]
    name = "description"
    content = "I will be showing you the fastest way to install a fully functional WordPress website with an auto-renewing free SSL certificate in less than 3 commands. Using EasyEngine."
    [[pages.2c375590f668416caa545bc140f6ebf3.meta]]
    name = "og:image"
    content="https://personl-website-from-notion.vimarsh.vercel.app/750b07f53122ff159a0216ddb8e230aa5b77caad.jpeg"
    
    [[pages.44473a71bfac4a6a95e7d0494a0c4d88.meta]]    
    name = "title"
    content = "Vimarsh's Blog"
    [[pages.44473a71bfac4a6a95e7d0494a0c4d88.meta]]
    name = "description"
    content = "Learn about tech, coding, cloud hosting and some updates on various experiments and me."
    [[pages.44473a71bfac4a6a95e7d0494a0c4d88.meta]]
    name = "og:image"
    content="https://personl-website-from-notion.vimarsh.vercel.app/fa9e6a62cb2ef6e92eb97c80d226f9b67c89c718.jpg"
