# This workflow is for publishing / updating personal website on www.vimarsh.info from Notion

name: Python notion deployment

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'  # every day at midnight

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
        
    - name: Install dependencies
      run: |
        sudo apt install -y chromium-browser  # installing chromium
        
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        
        # for installing chrome driver
        version=$(curl -s https://chromedriver.storage.googleapis.com/LATEST_RELEASE)
        wget -qP "/tmp/" "https://chromedriver.storage.googleapis.com/${version}/chromedriver_linux64.zip"
        sudo unzip -o /tmp/chromedriver_linux64.zip -d /usr/bin
        
        
    - name: Do the notion website deployment thing
      run: |
        python loconotion ./example/example_site.toml
    - name: Comitting the stuff changed
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Did the dist/notes changes?
